.grid {
      &::-webkit-scrollbar {
            width: 1px;
      }
}

.grid-item {
      float: left;
      padding-bottom: 1rem;

      img {
            width: 100%;
            object-fit: cover;
      }
}

.grid-item img {
      display: block;
      max-width: 100%;
      filter: grayscale(0.3);
}

.grid-item img:hover {
      filter: grayscale(0);
}

.arrow-up {
      transform: rotate(180deg);
}

#projects::after {
      -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      -webkit-mask-size: 100% 100%;
      content: '';
      position: absolute;
      z-index: 1;
      top: 60%;
      left: 0;
      right: 0;
      height: 360px;
      background-color: white;
}
