.search {
      z-index: 1;
      display: inline-flex;
      padding: 5px;
      border-radius: 50px;
      transition: 0.4s;
      max-width: 40px;
}
.searchBar {
      max-height: 50px;
}

.searchBar.open {
      //max-width: 25%;
      background: rgba(239, 238, 238, 0.805);
}

.searchBar.open:hover {
      background: rgba(239, 238, 238, 0.805);
}

.searchInput {
      background: transparent;
      border: 0;
      max-width: 0;
      padding: 0;
      text-indent: 20px;
      outline: none;
      transition: 0.4s;
}

.searchButton:hover {
      background: rgba(0, 0, 0, 0.06);
}

.searchButton {
      background: transparent;
      border-radius: 50%;
}

.searchInput.open {
      max-width: 150px;
}
