.btn-portfolio:hover {
      & > .arrow-down {
            & path {
                  background-color: red;
                  transition: all 0.3s ease-in-out;
                  transform: scale(1.4);
            }
            fill: red;
            transition: all 0.3s ease-in-out;
            transform: scale(1.4);
      }
}

.rotate-left {
      transform: rotate(180deg);
}

.rotate-right {
      transform: rotate(270deg);
}

img:hover path {
      fill: red;
}

.control-button {
      width: 48px;
}

.carousel-inner > .carousel-item > img {
      height: 737px;
      width: 100%;
}
