$custom-spacers: (
      0: 0,
      1: $spacer * 0.25,
      2: $spacer * 0.5,
      075: $spacer * 0.75,
      3: $spacer,
      4: $spacer * 1.5,
      5: $spacer * 2,
      6: $spacer * 2.5,
      7: $spacer * 3,
      8: $spacer * 3.5,
      9: $spacer * 4,
      10: $spacer * 4.5,
      11: $spacer * 5,
      12: $spacer * 5.5,
      13: $spacer * 6,
      14: $spacer * 6.5,
      15: $spacer * 7,
      16: $spacer * 7.5,
      17: $spacer * 8,
      18: $spacer * 8.5,
      19: $spacer * 9,
      20: $spacer * 9.5,
      21: $spacer * 10,
      22: $spacer * 10.5,
      23: $spacer * 11,
      24: $spacer * 11.5,
      25: $spacer * 12,
      26: $spacer * 12.5,
      27: $spacer * 13,
);

$spacers: map-merge($spacers, $custom-spacers);

$custom-colors: (
      'green': $green,
      'beige': $beige,
      'black': $black,
      'beige50': $beige50,
      'search': $search,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

.btn-primary {
      @include button-variant($btn-primary-bg, $btn-primary-border, $btn-primary-color);
}

.btn-outline-white {
      @include button-outline-variant($beige50, color-contrast($beige50), $beige50);
}

$custom-display-font-sizes: (
      2: 3rem,
      6: 2.5rem,
      7: 2rem,
      8: 1.5rem,
      9: 1rem,
      10: 0.75rem,
      11: 0.5rem,
);

$custom-font-sizes: (
      2: 3rem,
);

$custom-position-values: (
      10: 10%,
      20: 20%,
      30: 30%,
      40: 40%,
      45: 45%,
      50: 50%,
      60: 60%,
      70: 70%,
      80: 80%,
      81: 81%,
      82: 82%,
      83: 83%,
      84: 84%,
      85: 85%,
      86: 86%,
      87: 87%,
      88: 88%,
      89: 89%,
      90: 90%,
);

$custom-container-max-widths: (
      xxxl: 1440px,
);

$custom-grid-breakpoints: (
      xxl: 1440px,
      fhd: 1920px,
);

$custom-container-max-widths: (
      xxl: 1400px,
      fhd: 1920px,
);

$container-max-widths: map-merge($container-max-widths, $custom-container-max-widths);
$grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);
$container-max-widths: map-merge($container-max-widths, $custom-container-max-widths);
$display-font-sizes: map-merge($display-font-sizes, $custom-display-font-sizes);
$font-sizes: map-merge($font-sizes, $custom-font-sizes);
$position-values: map-merge($position-values, $custom-position-values);

$utilities: (
      'max-width': (
            property: max-width,
            class: mw,
            values: (
                  0: 0%,
                  100: 100%,
            ),
      ),
);
