$beige: #dcc1ab;
$green: #1b5b31;
$beige50: #f5f0ec;
$black: #111111;

$primary: $beige;
$secondary: $green;

$btn-primary-bg: $green;
$btn-primary-border: $green;
$btn-primary-color: $beige50;

$btn-border-radius: 2rem;

.btn {
      border-radius: $btn-border-radius !important;
}
